absl-py==0.7.1
altgraph==0.16.1
astor==0.8.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
docutils==0.14
future==0.17.1
gast==0.2.2
google-pasta==0.1.7
grpcio==1.23.0
h5py==2.9.0
idna==2.8
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Kivy==1.11.1
kivy-deps.angle==0.1.9
kivy-deps.glew==0.1.12
kivy-deps.gstreamer==0.1.17
kivy-deps.sdl2==0.1.22
Kivy-Garden==0.1.4
Markdown==3.1.1
numpy==1.16.1
pefile==2019.4.18
protobuf==3.9.1
pycparser==2.19
Pygments==2.4.2
PyInstaller==3.5
pymunk==5.5.0
pypiwin32==223
pywin32==224
pywin32-ctypes==0.2.0
requests==2.22.0
six==1.12.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
urllib3==1.25.3
virtualenv==16.6.1
Werkzeug==0.15.5
wrapt==1.11.2