absl-py==0.9.0
altgraph==0.16.1
astor==0.6.2
certifi==2022.12.7
cffi==1.13.2
chardet==3.0.4
docutils==0.15.2
future==0.18.2
gast==0.2.2
google-pasta==0.1.8
grpcio==1.26.0
h5py==2.10.0
idna==2.8
Keras==2.2.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Kivy==1.11.1
Kivy-Garden==0.1.4
kivy-garden.graph==0.4.0
Markdown==3.1.1
numpy==1.18.0
opt-einsum==3.1.0
pefile==2019.4.18
protobuf==3.11.2
pycparser==2.19
Pygments==2.5.2
pymunk==5.6.0
PyYAML==5.2
requests==2.22.0
scipy==1.4.1
six==1.13.0
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
urllib3==1.25.7
Werkzeug==0.16.0
wrapt==1.11.2
